:root {
    /* Color */
    --color-white: #ffffff;
    --clolor-light-white : #eeeeee;
    --color-dark-white : #bdbdbd;

    --color-green : #00cc00;
    --color-light-green : #e6ffcc;
    --color-dark-green :#00b300;

    --color-dark-grey : #4d4d4d;
    --color-grey : #616161;
    --color-light-grey : #a6a6a6;
    --color-blue : #73aace;
    --color-yellow : #fff7d1;
    --color-orange : #feb546;
    --color-black : #000000;


    /* Font size */
    --font-large : 48px;
    --font-medium : 28px;
    --font-regular : 18px;
    --font-small : 16px;
    --font-micro : 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold : 600;
    --weight-regular : 400;

    /* Size */
    --size-border-redius : 4px;

    /* Animation */
    --animation--duration : 300ms;
}

.up {
    position: fixed;
    right : 30px;
    bottom : 30px;
    width: 36px;
    height: 36px;
    font-size: 20px;
    color : var(--color-white);
    background-color: var(--color-green);
    border-radius: var(--size-border-redius);
    opacity: 0;
}

@media screen and (max-width : 768px) {
    :root{
        --font-large : 32px;
        --font-medium : 22px;
        --font-regular : 16px;
    }
}