@import url("../style.css");
/* Common tags */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin : 0;
    cursor: default;
}

/* Basic Tags */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color : var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0; 
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0; 
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left : 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border : none;
    outline: none;
}

.section {
    text-align: center;
    padding : 50px;
    margin : auto;
}
.section__container {
    max-width: 1200px;
    margin : auto;
}