@import url("../style.css");

#skills {
    background-color: var(--color-light-green);
}

.skillset {
    display : flex;
    background-color: var(--color-grey);
    color: var(--color-white);
    margin : 20px 0;
}
.skillset__title{
    color : var(--color-white);
}
.skillset__left {
    flex-basis : 60%;
    background-color: var(--color-dark-grey);
    padding : 20px 40px;
}

.skill__description{
    display : flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill {
    margin-bottom: 32px;
}
.skill__value {
    width: 0;
    height:3px;
    background-color: var(--color-orange);
    transition: width 1000ms ease;
}


.skillset__right {
    flex-basis : 40%;
}

.tools {
    margin : 0;
    background-color: var(--color-light-grey);
}

.tools,
.etc {
    padding : 20px;
}

@media screen and (max-width : 768px) {
    .skillset {
        flex-direction: column;
    }
}