/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$background-color: #ffffff !default;
// $text-color: #222831 !default;
$primary-color: #c55e5e !default;
$link-color: #c55e5e !default;
$masthead-link-color: #343434 !default;

$code-background-color: #e5e5e5 !default;